/* Define regras globais de estilo para o documento */
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Define o estilo geral do corpo (background) */
body {
    background-color: #f0f0f0;
}

/* Define o estilo do container principal do piano */
.piano {
    background-color: #333; 
    width: 1000px;
    height: 400px;
    margin: 100px auto 0;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Adiciona uma sombra */
}

/* Define o estilo do container dos controles do piano */
.controls {
    color: #fff; 
    padding: 30px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

/* Define o estilo do título dentro dos controles */
.controls h1 {
    font-weight: 500;
    font-size: 1.4rem;
}

/* Define o estilo do interruptor (botão de ligar/desligar) */
.switcher {
    width: 50px;
    height: 25px;
    background-color: #41ec6c; 
    display: flex;
    border-radius: 50px;
    padding: 4px;
}

/* Define o estilo do botão dentro do interruptor */
.switcher__button {
    height: 100%;
    aspect-ratio: 1/1;
    background-color: #333; 
    border-radius: 25px;
}

/* Define o estilo do interruptor quando está ativo (ligado) */
.switcher--active {
    background-color: #f5504b; 
    justify-content: flex-end;
}

/* Define o estilo do rótulo da caixa de verificação */
.checkbox__label {
    display: flex;
    gap: 15px;
}


/* Define o estilo do container das teclas do piano */
.piano__keys {
    width: 100%;
    height: 300px;
    background-color: #f4f4f4; /* Cor cinza claro */
    border-radius: 15px;
    padding: 30px 40px;
    display: flex;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Adiciona uma sombra */
}

/* Define o estilo das teclas brancas do piano */
.white {
    background-color: #fff; /* Cor branca */
    flex-grow: 1;
    border-radius: 5px;
    border-bottom: 8px solid #ddd; /* Cor cinza claro */
    color: #333; /* Cor preta */
    margin-left: -17px;
    z-index: 1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Adiciona uma sombra */
}

/* Define o estilo do texto dentro das teclas */
.key span {
    font-weight: 600;
    position: absolute;
    transition-duration: 300ms;
}

/* Define o estilo das teclas individuais */
.key {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 8px;
    user-select: none;
}

/* Define o estilo das teclas pretas do piano */
.black {
    width: 40px;
    background-color: #333; /* Cor preta */
    height: 150px;
    border-radius: 0 0 5px 5px;
    border-bottom: 8px solid #111; /* Cor mais escura */
    margin-left: -20px;
    z-index: 2;
    color: #fff; /* Cor branca */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Adiciona uma sombra */
}

/* Ajusta a margem da primeira tecla branca */
.piano__keys .white:nth-child(1) {
    margin-left: 0;
}

/* Ajusta a margem da quinta tecla branca */
.piano__keys .white:nth-child(5) {
    margin-right: 20px;
}

/* Ajusta a margem da décima segunda tecla branca */
.piano__keys .white:nth-child(12) {
    margin-right: 20px;
}

/* Ajusta a margem da décima sétima tecla branca */
.piano__keys .white:nth-child(17) {
    margin-right: 20px;
}

/* Define o estilo das teclas pretas quando pressionadas */
.black--pressed {
    background-color: #111; /* Cor mais escura quando pressionada */
    border-bottom: none;
    height: 148px;
}

/* Jogo da velha */

table {
	width: 550px;
	height: 350px;
	border: 1px inset black
}

table tr {
	background-color: rgb(255, 255, 255);
	font: bold 46px Verdana;
	color: gray;
}

table tr td {
	text-align: center;
	width: 33.33%;
	border: 2px inset black;
}

table tr td:hover {
	cursor: crosshair;
}

input[type=button] {
	width: 150px;
	height: 50px;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 20px
}

fieldset {
	font-size: 20;
	font-weight: bold;
	border: 2px solid rgb(255, 255, 255);
	width: 300px;
}

.corpo {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: white;
	height: 150vh;
	background-image: url(img/Bg.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	
}
 
.layer1{
	padding: 5%;
}
